
<h1>Lista de posts </h1>

{{#if formIsVisible}}
	<button class="btn btn-default" {{action 'hideForm'}}> Cancel</button>
  {{else}}
	<button class="btn btn-primary" {{action 'viewForm'}}> New Post</button>	
{{/if}}
<div class="col-sm-6">
	
	<div class="input-group">
      {{input value=filter class="form-control"  placeholder="Search for..."}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" >Search</button>
      </span>
    </div><!-- /input-group -->
    <br>
	<ul class="list-group">
		{{#each dataSelected as |post|}}
		<li  class="list-group-item margin-bottom-5">
			{{#link-to 'post' post}}
			{{post.title}}
			{{/link-to}}
		  <button type="button" class="close  pull-right btn  btn-xs"  {{action 'deletePost' post}}> 
 			 <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		  </button>
		</li>
		{{/each}}
	</ul>
</div>
{{#if formIsVisible}}

<div class="col-sm-6">
<br>
	<form {{action 'savePost' on="submit"}} class='margin-left-15'>
		  <div class="form-group">
		    <label for="exampleInputTitle">Title</label>
		   	{{input value=title  id="exampleInputTitle" class="form-control"}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputBody">Description</label>
		   	{{textarea value=body  id="exampleInputBody" cols="60" rows="10"  class="form-control"}}
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
{{/if}}
{{outlet}}
